@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: -0.3px;
}
img {
    vertical-align: top;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
html, body {
    height: calc(var(--vh, 1vh) * 100);
}
body {
    width: 100%;
    height: 100%;
    background: url(../img/mb-bg-origin.png) no-repeat center;
    background-size: cover;
}
#wrap {
    height: 100%;
}
.bg-bk {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}
.popup {
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 12px 12px 0 0;
    z-index: 9999999;
}
.popup > .inner {
    position: relative;
}
.popup_close-btn {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
}
.popup .popup_content {
    padding: 35px 0;
}
.popup .popup_content .swiper-slide {
    width: 85%;
}
.popup .popup_content .swiper a {
    display: inline-block;
    width: 100%;
}
.popup .popup_content .swiper a img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.popup .popup_content .swiper-pagination {
    text-align: start;
    left: 20px;
    bottom: 25px;
    width: auto !important;
}
.popup .popup_content .none-show {
    text-align: end;
    position: relative;
    right: 20px;
    bottom: -12px;
}
/***** Mobile Nav *****/
.dt-nav {
    display: none;
}
.mb-nav-top {
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
}
.mb-nav-top h1 {
    width: 110px;
    margin: 0 auto;
    height: 100%;
}
.mb-nav-top > div {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.mb-nav-top .ticket {
    left: 20px;
}
.mb-nav-top .alarm {
    right: 60px;
}
.mb-nav-top .menu-btn {
    right: 20px;
}
.mb-nav-top a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.mb-nav-btm {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ddd;
    background-color: #fff;
}
.mb-nav-btm ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.mb-nav-btm ul li {
    width: 40px;
    height: 100%;
}
.mb-open-menu {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background: url(../img/mb-bg-origin.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    overflow-y: hidden;
}
.mb-open-menu .top {
    width: 100%;
    height: 55px;
    position: relative;
    padding: 0 20px;
}
.mb-open-menu .top > div:first-child {
    line-height: 60px;
}
.mb-open-menu .top > div:not(:first-child) {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.mb-open-menu .top .setting {
    right: 60px;
}
.mb-open-menu .top .menu_close-btn {
    right: 20px;
}
.mb-open-menu .center {
    width: 100%;
    display: flex;
    padding: 15px;
}
.mb-open-menu .center .left {
    width: 65%;
}
.mb-open-menu .center .right {
    width: 35%;
    text-align: end;
}
.mb-open-menu .btm {
    width: 100%;
    height: calc(100% - 105px);
    position: absolute;
    bottom: 0;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
    padding: 40px 30px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.mb-open-menu .btm::-webkit-scrollbar {
    display: none;
}
.mb-open-menu .btm .inner {
    width: 100%;
}
.mb-open-menu .btm .inner > div:first-child {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}
.mb-open-menu .btm .inner > div:first-child a {
    width: 85px;
    font-size: 13px;
    color: #aaa;
    position: relative;
}
.mb-open-menu .btm .inner .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mb-open-menu .btm .inner .menu .rnb {
    display: flex;
    width: 100%;
    height: 220px;
    flex-wrap: wrap;
    align-content: flex-start;
}
.mb-open-menu .btm .inner .menu .all-rnb {
    display: flex;
    width: 100%;
    height: 250px;
    padding: 20px 0;
    border-top: 1px solid #eee;
    flex-wrap: wrap;
    align-content: baseline;
}
.mb-open-menu .btm .inner .notice {
    width: 100%;
    padding: 0 18px;
    background-color: aliceblue;
    border-radius: 12px;
}
.mb-open-menu .btm .inner .notice a {
    line-height: 55px;
}
.mb-open-menu .btm .inner > div:last-child {
    width: 100%;
    padding: 20px 0;
    display: flex;
}
.mb-open-menu .btm .inner > div:last-child .sns {
    width: 65%;
}
.mb-open-menu .btm .inner > div:last-child .sns ul {
    width: 100%;
    height: 42px;
    display: flex;
}
.mb-open-menu .btm .inner > div:last-child .sns ul a {
    width: 100%;
    height: 100%;
    display: block;
}
.mb-open-menu .btm .inner > div:last-child > div:last-child {
    width: 35%;
    position: relative;
}
.mb-open-menu .btm .inner > div:last-child > div:last-child a {
    position: absolute;
    bottom: 0;
}

/* 모바일 탑 스몰 슬라이더 */
.top-sm-slider {
    width: 100%;
    padding: 20px 0;
    margin-top: 55px;
}
.top-sm-slider .inner {
    width: 100%;
    height: 100px;
}
.top-sm-slider .inner .swiper {
    width: 100%;
    height: 100%;
}
.top-sm-slider .inner .swiper .swiper-slide {
    width: auto;
}
.top-sm-slider .inner .swiper .swiper-slide a {
    height: 100%;
    display: block;
}
.top-sm-slider .inner .swiper .swiper-slide a img {
    height: 100%;
    object-fit: contain;
}
.top-sm-slider .inner .swiper .swiper-slide.img-active {
    padding-left: 20px;
}

/* 모바일 콘텐츠 */
.mb-contents {
    width: 100%;
    height: 800px;
    background-color: #fff;
    border-radius: 12px 12px 0 0;
}



@media (min-width: 1200px) {
    * {
        font-size: 15px;
    }
    .mb-nav {
        display: none;
    }
    .dt-nav {
        display: block;
    }
}