@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
}
html,
body {
    height: calc(var(--vh, 1vh) * 100);
}
#wrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    background-color: aliceblue;
}
#skip-menu {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    left: -100%;
}
#header {
    width: 100%;
    height: 4.5em;
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    left: 0;
}
#header .dt-gnb {
    display: none;
}
#header .mb-gnb .gnb-top {
    width: 100%;
    height: 100%;
    padding: 0 15px;
}
#header .mb-gnb .gnb-top a {
    line-height: 4.5em;
}
#header .mb-gnb .gnb-top .gnb-top-right {
    margin-left: auto;
}
#header .mb-gnb .gnb-menu {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0,0,0,0.5);
    position: relative;
    left: 0;
    top: -4.5em;
    display: none;
}
#header .mb-gnb .gnb-menu .gnb-menu-top {
    position: absolute;
    width: 80%;
    height: 100%;
    right: 0;
    top: 0;
    padding: 0 15px;
    background-color: coral;
    overflow-y: scroll;
}
#header .mb-gnb .gnb-menu .gnb-menu-btm {
    position: absolute;
    width: 80%;
    height: 3em;
    right: 0;
    bottom: 0;
    background-color: turquoise;
}
#header .mb-gnb .gnb-menu .close-btn {
    width: 100%;
    line-height: 4.5em;
    background-color: tan;
}
#header .mb-gnb .gnb-menu .close-btn a {
    display: block;
    text-align: end;
}
.main {
    width: 100%;
    background-color: pink;
}
.mb-gnb .gnb-menu .toggle-menu {
    display: none;
}
@media (min-width: 992px) {
    #header {
        height: 5.5em;
        background-color: tan;
    }
    #header .mb-gnb {
        display: none;
    }
    #header .dt-gnb {
        display: block;
    }
    #header .dt-gnb .gnb-menu {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }
    .dt-gnb .gnb-menu a {
        line-height: 5.5em;
    }
}