.popup_close-btn button {
    border: 0;
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
}
.popup_close-btn button > img {
    width: 20px;
}
.popup_close-btn button span {
    padding-left: 5px;
}
.popup .popup_content .swiper-pagination-bullet-active {
    background-color: #14b9cb;
}
/* 팝업창 체크박스 custom */
.popup .popup_content .none-show {
    color: #bbb;
}
/* 기본 checkbox */ .popup .popup_content .none-show label {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    right: 115px;
    position: absolute;
    top: 0;
} 
.popup .popup_content .none-show label::after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 3px;
    transform: rotate(-45deg);
    width: 10px;
}
.popup .popup_content .none-show input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    transform: translate(-25px, 3px);
    z-index: 99;
}
.popup .popup_content .none-show input[type="checkbox"]:checked + label {
    background-color: #451485;
    border-color: #451485;
}
.popup .popup_content .none-show input[type="checkbox"]:checked + label::after {
    opacity: 1;
}
/****** Mobile Nav ******/
.mb-nav-top a {
    display: block;
    width: 100%;
    height: 100%;
}
.mb-nav-top h1 a {
    background: url(../img/mb-logo-white_new.png) no-repeat center;
    background-size: contain;
}
.mb-nav-top .ticket a {
    background: url(../img/ico-ticket-w.png) no-repeat center;
    background-size: contain;
}
.mb-nav-top .alarm a {
    background: url(../img/ico-alarm.png) no-repeat center;
    background-size: contain;
}
.mb-nav-top .menu-btn a {
    background: url(../img/ico-burger-w.png) no-repeat center;
    background-size: contain;
}
.mb-nav-btm a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: #444;
}
.mb-nav-btm a span {
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    text-align: center;
}
.mb-nav-btm .gnb1 a {
    background: url(../img/bnb-home-on.png) no-repeat 50% 25%;
    background-size: 30px;
}
.mb-nav-btm .gnb2 a {
    background: url(../img/bnb-store_new.png) no-repeat 50% 25%;
    background-size: 30px;
}
.mb-nav-btm .gnb3 a {
    background: url(../img/bnb-reserve_new.png) no-repeat 50% 25%;
    background-size: 30px;
}
.mb-nav-btm .gnb4 a {
    background: url(../img/bnb-event_new.png) no-repeat 50% 25%;
    background-size: 30px;
}
.mb-nav-btm .gnb5 a {
    background: url(../img/bnb-mymega_new.png) no-repeat 50% 25%;
    background-size: 30px;
}
.mb-open-menu .top a {
    display: block;
    width: 100%;
    height: 100%;
}
.mb-open-menu .top .setting a {
    background: url(../img/ic_set.png) no-repeat center;
    background-size: contain;
}
.mb-open-menu .top .menu_close-btn a {
    background: url(../img/ic_close_top.png) no-repeat center;
    background-size: contain;
}
.mb-open-menu .top > div:first-child {
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.mb-open-menu .center a {
    font-size: 13px;
}
.mb-open-menu .center .left a {
    color: #14b9cb;
    position: relative;
}
.mb-open-menu .center .left .login {
    margin-right: 21px;
}
.mb-open-menu .center .left .login::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #666;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 10px);
}
.mb-open-menu .center .right a {
    color: #fff;
}
.mb-open-menu .btm .inner > div:first-child span {
    font-weight: 900;
    font-size: 13px;
    letter-spacing: -0.7px;
}
.mb-open-menu .btm .inner > div:first-child a::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    transform: rotate(45deg);
    right: 0;
    top: 4px;
}
.mb-open-menu .btm .inner .menu .rnb li {
    width: calc(100% / 4);
    height: 110px;
    flex-shrink: 0;
    position: relative;
}
.mb-open-menu .btm .inner .menu .rnb li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.mb-open-menu .btm .inner .menu .rnb li a span {
    width: 60px;
    height: 60px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 13px;
    color: #000;
}
.mb-open-menu .btm .inner .menu .menu1 span {
    background: url(../img/rnb_ic_black_movie.png) no-repeat center;
    background-size: 75%;
}
.mb-open-menu .btm .inner .menu .menu1 span::after {
    content: '영화별 예매';
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}
.mb-open-menu .btm .inner .menu .menu2 span {
    background: url(../img/rnb_ic_black_theater.png) no-repeat center;
    background-size: 75%;
}
.mb-open-menu .btm .inner .menu .menu2 span::after {
    content: '극장별 예매';
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}
.mb-open-menu .btm .inner .menu .menu3 span {
    background: url(../img/rnb_ic_black_special.png) no-repeat center;
    background-size: 75%;
}
.mb-open-menu .btm .inner .menu .menu3 span::after {
    content: '특별관 예매';
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}
.mb-open-menu .btm .inner .menu .menu4 span {
    background: url(../img/rnb_ic_private.png) no-repeat center;
    background-size: 75%;
}
.mb-open-menu .btm .inner .menu .menu4 span::after {
    content: '더 부티크 프라이빗';
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}
.mb-open-menu .btm .inner .menu .menu5 span {
    background: url(../img/rnb_ic_event.png) no-repeat center;
    background-size: 75%;
}
.mb-open-menu .btm .inner .menu .menu5 span::after {
    content: '이벤트';
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}
.mb-open-menu .btm .inner .menu .menu6 span {
    background: url(../img/rnb_ic_sale.png) no-repeat center;
    background-size: 75%;
}
.mb-open-menu .btm .inner .menu .menu6 span::after {
    content: '제휴/할인';
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}
.mb-open-menu .btm .inner .menu .menu7 span {
    background: url(../img/rnb_ic_channeltalk.png) no-repeat center;
    background-size: 75%;
}
.mb-open-menu .btm .inner .menu .menu7 span::after {
    content: '상담톡';
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
}
.mb-open-menu .btm .inner .menu .all-rnb li {
    width: 50%;
    line-height: 35px;
    flex-shrink: 0;
    padding-left: 20px;
    position: relative;
}
.mb-open-menu .btm .inner .menu .all-rnb li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.mb-open-menu .btm .inner .menu .all-rnb li::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}
.mb-open-menu .btm .inner .menu .all-rnb a {
    color: #000;
}
.mb-open-menu .btm .inner .notice a {
    color: #14b9cb;
}
.mb-open-menu .btm .inner .notice a > div {
    max-width: 100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.mb-open-menu .btm .inner .notice a > div .img {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/ico-rnb-notice.png) no-repeat center;
    background-size: contain;
    transform: translateY(9px);
}
.mb-open-menu .btm .inner > div:last-child .sns ul li {
    width: 42px;
    height: 100%;
}
.mb-open-menu .btm .inner > div:last-child .sns ul li:not(:first-child) {
    margin-left: 10px;
}
.mb-open-menu .btm .inner > div:last-child .sns ul li.facebook {
    background: url(../img/sns_ic_facebook.png) no-repeat center;
    background-size: contain;
}
.mb-open-menu .btm .inner > div:last-child .sns ul li.youtube {
    background: url(../img/sns_ic_youtube.png) no-repeat center;
    background-size: contain;
}
.mb-open-menu .btm .inner > div:last-child .sns ul li.insta {
    background: url(../img/sns_ic_insta.png) no-repeat center;
    background-size: contain;
}
.mb-open-menu .btm .inner > div:last-child > div:last-child a {
    color: #aaa;
    display: block;
    font-size: 13px;
}
.mb-open-menu .btm .inner > div:last-child > div:last-child a:first-child {
    right: 70px;
}
.mb-open-menu .btm .inner > div:last-child > div:last-child a:first-child::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ddd;
    top: 5px;
    left: 34px;
}
.mb-open-menu .btm .inner > div:last-child > div:last-child a:last-child {
    right: 0;
}